<launch>
	<group ns="192_168_10_244">
		<group ns="artags">
			<!-- Marker tracker -->
			<arg name="marker_size" default="4.5" />
			<arg name="max_new_marker_error" default="0.08" />
			<arg name="max_track_error" default="0.2" />
			<arg name="cam_image_topic" default="/192_168_10_244/camera30/image_raw" />

			<arg name="cam_info_topic" default="/192_168_10_244/camera30/camera_info" />	
			<!--<arg name="cam_info_topic" default="/192_168_10_244/cameras/camera30/camera_info" />	-->
			<arg name="output_frame" default="/192_168_10_244/camera3" />

			<node ns="artag1" name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame)" />
		</group>
	
	<node pkg="tf" type="static_transform_publisher" name="mav_to_camera" output="screen" args="0 0 0 0 1.570796327 0 camera3_rect mav 10" />
	<!--<node pkg="tf" type="static_transform_publisher" name="mav_to_camera" output="screen" args="0 0 0 0.785398163 0 0 mav camera3 10" />-->
	</group>
</launch>
