<launch>
	<!-- Artag pose launch-prefix="valgrind "-->
	<node name="artag_pose" type="artag_pose_node" pkg="artag_pose" output="screen" >
	    <param name="hz" type="double" value="10.0" />
	    <param name="numMarkers" type="int" value="2" />

		<!-- Load the list alvar_artag_tracker topic name (one for each camera used)-->
		<rosparam command="load" file="$(find artag_pose)/config/cafeteria.yaml" />


		<!--<param name="configFileName" type="string" value="$(find artag_pose)/config/cafeteria.yaml" />-->
	</node>


	<!-- TAGs POSITION TO THE CAFETERIA CENTER  -->
	<!-- TAGs POSITION TO THE CAFETERIA CENTER  -->
	<node pkg="tf" type="static_transform_publisher" name="artag00_tf_pub" output="screen" args="0 0 0 0 0 0 cafeteria artag_00_rectify_link 100" /> <!-- Artag00 -->
	<node pkg="tf" type="static_transform_publisher" name="artag01_tf_pub" output="screen" args="0 0 0 0 0 0 cafeteria artag_01_rectify_link 100" /> <!-- Artag00 -->

	<!-- CAMERA POSITION FROM THE CUBE CENTER -->
	<node pkg="tf" type="static_transform_publisher" name="camera1_tf_pub" output="screen" args="0 0 0 0 0 0 cube camera1 100" /> <!-- camera1 -->
	<node pkg="tf" type="static_transform_publisher" name="camera2_tf_pub" output="screen" args="0 0 0 0 0 0 cube camera2 100" /> <!-- camera2 -->
</launch>
