<launch>
	<group ns="127_0_0_1">
    <node pkg="topic_tools" type="relay" name="relay1" args="/camera2/image_raw/compressed /camera20/image_raw/compressed" />
    <node pkg="topic_tools" type="relay" name="relay2" args="/camera1/image_raw/compressed /camera10/image_raw/compressed" />
    </group>
</launch>
