<launch>
    <node pkg="camera1394" type="camera1394_node" name="camera2" >
      <rosparam file="$(find cameras)/launch/ffmv2c.yaml" />
      <param name="guid" value="00b09d0100ca5723" />
      <param name="camera_info_url" value="file://$(find cameras)/launch/calibration/camera2.yaml" />
      <remap from="camera" to="camera2" />
    </node>
</launch>
